<div class="container my-4">
  <div class="card mb-4">
    <div class="card-header bg-info text-white">
      Topic
      <button
        type="button"
        class="btn btn-secondary btn-sm shadow btn-sm mx-3"
        data-mdb-toggle="modal"
        data-mdb-target="#modaleSettingsTOPIC"
      >
        <i class="fas fa-sliders"></i>
      </button>
    </div>
    <div class="card-body">
      <div class="form-group">
        <label for="topicInput">Enter the keyword here:</label>
        <input
          type="text"
          class="form-control"
          id="topicKeyword"
          [(ngModel)]="topicKeyword"
        />
      </div>

      <div class="form-group">
        <label for="topicInput">Enter the topic title here:</label>
        <input
          type="text"
          class="form-control"
          id="topicInput"
          [(ngModel)]="topicTitle"
        />
      </div>

      <button
        class="btn btn-secondary my-3 btn-sm"
        (click)="improveTopicTitle()"
        [disabled]="topicTitle == ''"
      >
        <span
          class="spinner-grow spinner-grow-sm"
          *ngIf="isGettingTopicTitle"
          role="status"
          aria-hidden="true"
        ></span>
        Improve Topic Title
      </button>
      <button
        class="btn btn-secondary my-3 mx-2 btn-sm"
        (click)="stopRequest()"
        [disabled]="!isGettingTopicTitle"
      >
        <i class="fas fa-stop"></i>
      </button>

      <div class="form-group">
        <label for="topicInput">Enter the topic info here:</label>
        <textarea
          type="text"
          class="form-control"
          id="topicInfos"
          [(ngModel)]="topicInfos"
        >
        </textarea>
        <button
          class="btn btn-secondary my-3 btn-sm"
          (click)="improveTopicInfo()"
          [disabled]="topicInfos == ''"
        >
          <span
            class="spinner-grow spinner-grow-sm"
            *ngIf="isGettingTopicInfo"
            role="status"
            aria-hidden="true"
          ></span>
          Improve Topic Infos
        </button>
        <button
          class="btn btn-secondary my-3 mx-2 btn-sm"
          (click)="stopRequest()"
          [disabled]="!isGettingTopicInfo"
        >
          <i class="fas fa-stop"></i>
        </button>
      </div>
    </div>
  </div>

  <mat-stepper
    linear
    style="background-color: #d9e3f1"
    [orientation]="(stepperOrientation | async)!"
    *ngIf="
      topicKeyword != '' &&
      topicTitle != '' &&
      topicInfos != ''
    "
  >
    <mat-step label="Title">
      <ng-template matStepLabel>Title</ng-template>
      <div class="card my-2" (click)="currentStep(1)">
        <div class="card-header bg-primary text-white">
          Title
          <button
            type="button"
            class="btn btn-secondary btn-sm shadow btn-sm mx-3"
            data-mdb-toggle="modal"
            data-mdb-target="#modaleSettingsSTEPPER"
            (click)="loadDefaultData()"
          >
            <i class="fas fa-sliders"></i>
          </button>
        </div>
        <div class="card-body">
          <button
            class="btn btn-secondary mb-3 btn-sm"
            (click)="getTitle()"
            [disabled]="isGettingTitle"
          >
            <span
              class="spinner-grow spinner-grow-sm"
              *ngIf="isGettingTitle"
              role="status"
              aria-hidden="true"
            ></span>
            Generate Title
          </button>
          <button
            class="btn btn-secondary mb-3 mx-2 btn-sm"
            (click)="stopRequest()"
            [disabled]="!isGettingTitle"
          >
            <i class="fas fa-stop"></i>
          </button>
          <textarea
            class="form-control"
            rows="4"
            [(ngModel)]="titleResponse"
          ></textarea>
        </div>
      </div>
    </mat-step>

    <mat-step label="Introduction">
      <ng-template matStepLabel>Introduction</ng-template>
      <div class="card my-2" (click)="currentStep(2)">
        <div class="card-header bg-info text-white">
          Introduction
          <button
            type="button"
            class="btn btn-secondary btn-sm shadow btn-sm mx-3"
            data-mdb-toggle="modal"
            data-mdb-target="#modaleSettingsSTEPPER"
          >
            <i class="fas fa-sliders"></i>
          </button>
        </div>
        <div class="card-body">
          <button
            class="btn btn-secondary mb-3 btn-sm"
            (click)="getAndOptimizeIntroduction()"
            [disabled]="isGettingIntroduction"
          >
            <span
              class="spinner-grow spinner-grow-sm"
              *ngIf="isGettingIntroduction"
              role="status"
              aria-hidden="true"
            ></span>
            Generate Introduction
          </button>
          <button
            class="btn btn-secondary mb-3 mx-2 btn-sm"
            (click)="stopRequest()"
            [disabled]="!isGettingIntroduction"
          >
            <i class="fas fa-stop"></i>
          </button>

          <textarea
            class="form-control"
            rows="4"
            [(ngModel)]="introductionResponse"
          ></textarea>
        </div>
      </div>
    </mat-step>

    <mat-step label="Sections">
      <ng-template matStepLabel>Sections</ng-template>
      <div class="card my-2" (click)="currentStep(3)">
        <div class="card-header bg-success text-white">
          Sections
          <button
            type="button"
            class="btn btn-secondary btn-sm shadow btn-sm mx-3"
            data-mdb-toggle="modal"
            data-mdb-target="#modaleSettingsSTEPPER"
          >
            <i class="fas fa-sliders"></i>
          </button>
        </div>
        <div class="card-body">
          <button
            class="btn btn-secondary mb-3 btn-sm"
            (click)="getSections()"
            [disabled]="isGettingSections"
          >
            <span
              class="spinner-grow spinner-grow-sm"
              *ngIf="isGettingSections"
              role="status"
              aria-hidden="true"
            ></span>
            Generate Sections
          </button>
          <button
            class="btn btn-secondary mb-3 mx-2 btn-sm"
            (click)="stopRequest()"
            [disabled]="!isGettingSections"
          >
            <i class="fas fa-stop"></i>
          </button>
          <textarea
            class="form-control"
            rows="4"
            [(ngModel)]="sectionsResponse"
          ></textarea>
        </div>
      </div>
    </mat-step>

    <mat-step label="Content">
      <ng-template matStepLabel>Content</ng-template>
      <div class="card my-2" (click)="currentStep(4)">
        <div class="card-header bg-warning text-white">
          Content
          <button
            type="button"
            class="btn btn-secondary btn-sm shadow btn-sm mx-3"
            data-mdb-toggle="modal"
            data-mdb-target="#modaleSettingsSTEPPER"
          >
            <i class="fas fa-sliders"></i>
          </button>
        </div>
        <div class="card-body">
          <button
            class="btn btn-secondary mb-3 btn-sm"
            (click)="getContent()"
            [disabled]="isGettingContent"
          >
            <span
              class="spinner-grow spinner-grow-sm"
              *ngIf="isGettingContent"
              role="status"
              aria-hidden="true"
            ></span>
            Generate Content
          </button>
          <button
            class="btn btn-secondary mb-3 mx-2 btn-sm"
            (click)="stopRequest()"
            [disabled]="!isGettingContent"
          >
            <i class="fas fa-stop"></i>
          </button>
          <textarea
            class="form-control"
            rows="4"
            [(ngModel)]="contentResponse"
          ></textarea>
        </div>
      </div>
    </mat-step>

    <mat-step label="Publsish">
      <ng-template matStepLabel>Publish</ng-template>
      <div class="card my-2" (click)="currentStep(5)">
        <div class="card-header bg-info text-white">
          Generate Complete Article
          <button
            type="button"
            class="btn btn-secondary btn-sm shadow btn-sm mx-3"
            data-mdb-toggle="modal"
            data-mdb-target="#modaleSettingsSTEPPER"
          >
            <i class="fas fa-sliders"></i>
          </button>
        </div>
        <div class="card-body">
          <div>
            <div class="d-flex justify-content-center">
              <circle-progress
                [percent]="wordsCount"
                [maxPercent]="1000"
                [showUnits]="false"
                [subtitle]="'Words'"
                [radius]="60"
                class="custom-circle-progress"
                [outerStrokeColor]="'#0041c2'"
                [innerStrokeColor]="'#95b7e4'"
              >
              </circle-progress>
              <circle-progress
                [percent]="totalSeoScore"
                [subtitle]="'SEO'"
                [radius]="60"
                class="custom-circle-progress"
              >
              </circle-progress>
            </div>
            <button
              class="btn btn-primary mb-3 btn-sm"
              (click)="getCompleteArticle(); countWords()"
              [disabled]="isGettingCompleteArticle"
            >
              <span
                class="spinner-grow spinner-grow-sm"
                *ngIf="isGettingCompleteArticle"
                role="status"
                aria-hidden="true"
              ></span>
              Generate Complete Article with Images
            </button>
            <button
              class="btn btn-primary mx-2 mb-3 btn-sm"
              (click)="publishArticleOnWP()"
              [disabled]="isGettingCompleteArticle"
            >
              <span
                class="spinner-grow spinner-grow-sm"
                *ngIf="isGettingCompleteArticle"
                role="status"
                aria-hidden="true"
              ></span>
              Publish on WP
            </button>
          </div>
          <div class="form-group">
            <app-editor
              [data]="completeArticleResponse"
              [(ngModel)]="completeArticleResponse"
            ></app-editor>
          </div>
        </div>
      </div>
    </mat-step>
  </mat-stepper>
</div>

<!-- Modale Settings STEPPER -->

<div
  class="modal fade"
  id="modaleSettingsSTEPPER"
  tabindex="-1"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modaleSettingsSTEPPER">
          Settings
          {{
            currentStepValue == 1
              ? "Title"
              : currentStepValue == 2
              ? "Introduction"
              : currentStepValue == 3
              ? "Sections"
              : currentStepValue == 4
              ? "Content"
              : currentStepValue == 11
              ? "Topic"
              : "Publish"
          }}
        </h5>
        <button
          type="button"
          class="btn-close"
          data-mdb-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body" *ngIf="currentStepValue != 5; else elseBlock">
        <div class="mb-3" *ngIf="currentStepValue == 3">
          <label class="form-label">Quantity Paragraph</label>
          <div class="row">
            <div class="col-11">
              <input
                type="number"
                class="form-control"
                id="maxTokens"
                [(ngModel)]="qtyParagraphs"
                (ngModelChange)="addDefaultSections()"
              />
            </div>
            <div class="col-1 d-flex justify-content-end align-items-center">
              <button
                type="button"
                class="btn btn-primary btn-sm"
                (click)="setDefaultQtyParagraphs()"
              >
                <i class="fas fa-arrow-rotate-left"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Model</label>
          <div class="row">
            <div class="col-11">
              <select
                class="form-control"
                id="model"
                [ngModel]="getModelValue()"
                (ngModelChange)="setModelValue($event)"
              >
                <option value="gpt-3.5-turbo">gpt-3.5-turbo</option>
                <option value="gpt-3.5-turbo-16k">gpt-3.5-turbo-16k</option>
                <option value="gpt-4">gpt-4</option>
              </select>
            </div>
            <div class="col-1 d-flex justify-content-end align-items-center">
              <button
                type="button"
                class="btn btn-primary btn-sm"
                (click)="setDefaultModelValue()"
              >
                <i class="fas fa-arrow-rotate-left"></i>
              </button>
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label">Max Tokens</label>
          <div class="row">
            <div class="col-11">
              <input
                type="number"
                class="form-control"
                id="maxTokens"
                [ngModel]="getMaxTokensValue()"
                (ngModelChange)="setMaxTokensValue($event)"
              />
            </div>
            <div class="col-1 d-flex justify-content-end align-items-center">
              <button
                type="button"
                class="btn btn-primary btn-sm"
                (click)="setDefaultMaxTokensValue()"
              >
                <i class="fas fa-arrow-rotate-left"></i>
              </button>
            </div>
          </div>
        </div>

        <div class="mb-3">
          <div class="mb-3">
            <label class="form-label">Prompt:</label>
            <div class="row">
              <div class="col-11">
                <h6>Language</h6>
                <select
                  class="form-control mb-3"
                  [(ngModel)]="selectedLanguage"
                  (change)="useCorrectDefaultPrompt()"
                >
                  <option value="english">English</option>
                  <option value="french">French</option>
                  <option value="german">German</option>
                  <option value="espanol">Spanish</option>
                  <option value="italiano">Italiano</option>
                </select>

                <h6>Style</h6>
                <select
                  class="form-control mb-3"
                  [(ngModel)]="selectedStyle"
                  (change)="useCorrectDefaultPrompt()"
                >
                  <option value="blog post">Blog post</option>
                  <option value="article">Article</option>
                  <option value="product description">
                    Product description
                  </option>
                  <option value="product review">Product review</option>
                  <option value="product comparison">Product comparison</option>
                  <option value="product pros and cons">
                    Product pros and cons
                  </option>
                </select>

                <h6>Tone</h6>
                <select
                  class="form-control mb-3"
                  [(ngModel)]="selectedTone"
                  (change)="useCorrectDefaultPrompt()"
                >
                  <option value="neutral">Neutral</option>
                  <option value="friendly">Friendly</option>
                  <option value="formal">Formal</option>
                  <option value="informal">Informal</option>
                  <option value="funny">Funny</option>
                  <option value="professional">Professional</option>
                </select>
              </div>

              <div class="col-11">
                <textarea
                  type="number"
                  height="130px"
                  class="form-control"
                  id="textArea"
                  [ngModel]="getPromptValue()"
                  contenteditable="true"
                  (ngModelChange)="setPromptValue($event)"
                >
                </textarea>
              </div>
              <div class="col-1 d-flex justify-content-end align-items-center">
                <button
                  type="button"
                  class="btn btn-primary btn-sm"
                  (click)="setDefaultPromptValue()"
                >
                  <i class="fas fa-arrow-rotate-left"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary btn-sm"
            data-mdb-dismiss="modal"
          >
            Save
          </button>
        </div>
      </div>
      <ng-template #elseBlock>
        <div class="modal-body">
          <label class="form-label"
            >Insert custom shortcode
            <i
              class="fas fa-circle-info mx-2"
              data-toggle="tooltip"
              data-placement="top"
              title="Accepted placeholders: [ASIN] - [KEYWORD]"
            ></i>
          </label>
          <div
            *ngFor="let shortcode of shortcodes; let i = index"
            class="d-flex justify-content-between mb-2"
          >
            <div class="col-10 d-flex flex-row">
              <input
                type="text"
                class="form-control"
                placeholder="Enter shortcode"
                [(ngModel)]="shortcode.code"
              />
              <select class="form-control" [(ngModel)]="shortcode.position">
                <optgroup label="Introduction">
                  <option value="beforeIntroduction">
                    Before introduction
                  </option>
                  <option value="afterIntroduction">After introduction</option>
                </optgroup>
                <optgroup label="Article">
                  <option value="beginningOfArticle">
                    Beginning of article
                  </option>
                  <option value="randomInTheContent">
                    Random in the content
                  </option>
                  <option value="endOfArticle">After article</option>
                </optgroup>
                <optgroup label="Paragraphs">
                  <option value="beforeFirstP">Before 1° Paragraph</option>
                  <option value="afterFirstP">After 1° Paragraph</option>
                  <option value="afterSecondP">After 2° Paragraph</option>
                  <option value="afterThirdP">After 3° Paragraph</option>
                  <option value="afterFourthP">After 4° Paragraph</option>
                  <option value="afterFifthP">After 5° Paragraph</option>
                  <option value="afterSixthP">After 6° Paragraph</option>
                  <option value="afterSeventhP">After 7° Paragraph</option>
                  <option value="afterEighthP">After 8° Paragraph</option>
                  <option value="afterNinthP">After 9° Paragraph</option>
                  <option value="afterTenthP">After 10° Paragraph</option>
                  <option value="afterEleventhP">After 11° Paragraph</option>
                  <option value="afterTwelfthP">After 12° Paragraph</option>
                  <option value="afterThirteenthP">After 13° Paragraph</option>
                  <option value="afterFourteenthP">After 14° Paragraph</option>
                  <option value="afterFifteenthP">After 15° Paragraph</option>
                  <option value="afterSixteenthP">After 16° Paragraph</option>
                  <option value="afterSeventeenthP">After 17° Paragraph</option>
                  <option value="afterEighteenthP">After 18° Paragraph</option>
                  <option value="afterNineteenthP">After 19° Paragraph</option>
                  <option value="afterTwentiethP">After 20° Paragraph</option>
                </optgroup>
                <optgroup label="H2 Tags">
                  <option value="beforeFirstH2">Before 1° H2</option>
                  <option value="afterFirstH2">After 1° H2</option>
                  <option value="beforeSecondH2">Before 2° H2</option>
                  <option value="afterSecondH2">After 2° H2</option>
                  <option value="beforeThirdH2">Before 3° H2</option>
                  <option value="afterThirdH2">After 3° H2</option>
                  <option value="beforeFourthH2">Before 4° H2</option>
                  <option value="afterFourthH2">After 4° H2</option>
                  <option value="beforeFifthH2">Before 5° H2</option>
                  <option value="afterFifthH2">After 5° H2</option>
                  <option value="beforeSixthH2">Before 6° H2</option>
                  <option value="afterSixthH2">After 6° H2</option>
                  <option value="beforeSeventhH2">Before 7° H2</option>
                  <option value="afterSeventhH2">After 7° H2</option>
                  <option value="beforeEighthH2">Before 8° H2</option>
                  <option value="afterEighthH2">After 8° H2</option>
                  <option value="beforeNinthH2">Before 9° H2</option>
                  <option value="afterNinthH2">After 9° H2</option>
                  <option value="beforeTenthH2">Before 10° H2</option>
                  <option value="afterTenthH2">After 10° H2</option>
                </optgroup>
              </select>
            </div>
            <div class="col-2 mx-1 my-auto">
              <button
                class="btn btn-secondary btn-sm me-2"
                (click)="addShortcode()"
              >
                <i class="fas fa-plus"></i>
              </button>
              <button
                class="btn btn-danger btn-sm"
                (click)="removeShortcode(i)"
              >
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>
          <button
            class="btn btn-secondary btn-sm me-2"
            data-mdb-dismiss="modal"
            aria-label="Close"
            (click)="saveShortcode()"
          >
            Save
          </button>
        </div>
      </ng-template>
    </div>
  </div>
</div>
<!-- Modale Settings TOPIC -->

<div
  class="modal fade"
  id="modaleSettingsTOPIC"
  tabindex="-1"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Settings Topic</h5>
        <button
          type="button"
          class="btn-close"
          data-mdb-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label class="form-label">Model</label>
          <div class="row">
            <div class="col-11">
              <select class="form-control" id="model" [(ngModel)]="modelTopic">
                <option value="gpt-3.5-turbo">gpt-3.5-turbo</option>
                <option value="gpt-3.5-turbo-16k">gpt-3.5-turbo-16k</option>
                <option value="gpt-4">gpt-4</option>
              </select>
            </div>
            <div class="col-1 d-flex justify-content-end align-items-center">
              <button
                type="button"
                class="btn btn-primary btn-sm"
                (click)="setDefaultModelValueTOPIC()"
              >
                <i class="fas fa-arrow-rotate-left"></i>
              </button>
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label">Max Tokens</label>
          <div class="row">
            <div class="col-11">
              <input
                type="number"
                class="form-control"
                id="maxTokens"
                [(ngModel)]="maxTokensTopic"
              />
            </div>
            <div class="col-1 d-flex justify-content-end align-items-center">
              <button
                type="button"
                class="btn btn-primary btn-sm"
                (click)="setDefaultMaxTokensValueTOPIC()"
              >
                <i class="fas fa-arrow-rotate-left"></i>
              </button>
            </div>
          </div>
        </div>

        <div class="mb-3">
          <div class="mb-3">
            <label class="form-label">Prompt:</label>
            <div class="row">
              <div class="col-11">
                <h6>Language</h6>
                <select
                  class="form-control mb-3"
                  [(ngModel)]="selectedLanguageImproveTOPIC"
                  (change)="useCorrectDefaultPromptImproveTOPIC()"
                >
                  <option value="english">English</option>
                  <option value="french">French</option>
                  <option value="german">German</option>
                  <option value="espanol">Spanish</option>
                  <option value="italiano">Italiano</option>
                </select>

                <h6>Style</h6>
                <select
                  class="form-control mb-3"
                  [(ngModel)]="selectedStyleImproveTOPIC"
                  (change)="useCorrectDefaultPromptImproveTOPIC()"
                >
                  <option value="blog post">Blog post</option>
                  <option value="article">Article</option>
                  <option value="product description">
                    Product description
                  </option>
                  <option value="product review">Product review</option>
                  <option value="product comparison">Product comparison</option>
                  <option value="product pros and cons">
                    Product pros and cons
                  </option>
                </select>

                <h6>Tone</h6>
                <select
                  class="form-control mb-3"
                  [(ngModel)]="selectedToneImproveTOPIC"
                  (change)="useCorrectDefaultPromptImproveTOPIC()"
                >
                  <option value="neutral">Neutral</option>
                  <option value="friendly">Friendly</option>
                  <option value="formal">Formal</option>
                  <option value="informal">Informal</option>
                  <option value="funny">Funny</option>
                  <option value="professional">Professional</option>
                </select>
              </div>

              <div class="col-11 mb-3">
                <h6>Prompt Title</h6>

                <textarea
                  height="130px"
                  class="form-control"
                  id="textArea"
                  [ngModel]="getImprovementTitlePromptValue()"
                  contenteditable="true"
                  (ngModelChange)="setImprovementTitlePromptValue($event)"
                >
                </textarea>
              </div>
              <div class="col-1 d-flex justify-content-end align-items-center">
                <button
                  type="button"
                  class="btn btn-primary btn-sm"
                  (click)="setDefaultPromptValueTITLE_TOPIC()"
                >
                  <i class="fas fa-arrow-rotate-left"></i>
                </button>
              </div>

              <div class="col-11">
                <h6>Prompt Info</h6>

                <textarea
                  height="130px"
                  class="form-control"
                  id="textArea"
                  [ngModel]="getImprovementINFOPromptValue()"
                  contenteditable="true"
                  (ngModelChange)="setImprovementtINFOPromptValue($event)"
                >
                </textarea>
              </div>
              <div class="col-1 d-flex justify-content-end align-items-center">
                <button
                  type="button"
                  class="btn btn-primary btn-sm"
                  (click)="setDefaultPromptValueINFO_TOPIC()"
                >
                  <i class="fas fa-arrow-rotate-left"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary btn-sm"
          data-mdb-dismiss="modal"
        >
          Save
        </button>
      </div>
    </div>
  </div>
</div>
