<div class="container my-4">
  <div class="card">
    <div class="card-header">
      OpenAI Settings -
      <a href="https://platform.openai.com/account/api-keys" target="_blank"
        >Get your OpenAI API</a
      >
    </div>
    <div class="card-body">
      <form [formGroup]="openAISettingsForm">
        <div class="mb-3">
          <label for="apiKey" class="form-label">API Key</label>
          <input
            type="text"
            class="form-control"
            id="apiKey"
            formControlName="apiKey"
          />
        </div>
        <div class="d-flex align-items-end button-sections">
          <button
            type="button"
            class="btn btn-primary btn-sm me-2"
            (click)="saveAll('ApiKey')"
          >
            Save
          </button>
          <div class="text-lime" *ngIf="successApiKey">
            <i class="far fa-circle-check me-1"></i>
            <span class="text-lime">API Key is saved</span>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="card mt-4">
    <div class="card-header">
      WordPress Settings -
      <a href="assets/jwt_setup.txt" target="_blank" download="jwt_setup.txt"
        >Download guide JWT installation</a
      >
    </div>
    <div class="card-body">
      <form [formGroup]="wpSettingsForm">
        <div class="mb-3">
          <label for="wpUrl" class="form-label">WordPress URL</label>
          <input
            type="text"
            class="form-control"
            id="wpUrl"
            formControlName="wpUrl"
          />
        </div>
        <div class="mb-3">
          <label for="status" class="form-label">Status</label>
          <select class="form-control" id="status" formControlName="status">
            <option value="publish">Publish</option>
            <option value="draft" selected>Draft</option>
            <option value="private">Private</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="status" class="form-label">Btoa
            <app-info-tooltip
              [type]="'btoa'"
            ></app-info-tooltip>
          </label>
          <input
            type="text"
            class="form-control"
            id="status"
            formControlName="btoa"
          />
        </div>
        <div class="d-flex align-items-end button-sections">
          <button
            type="button"
            class="btn btn-primary btn-sm me-2"
            (click)="saveAll('Wordpress')"
          >
            Save
          </button>
          <div class="text-lime" *ngIf="successWordpress">
            <i class="far fa-circle-check me-1"></i>
            <span class="text-lime">Wordpress data is saved</span>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
