<div class="container my-4">
  <div class="card mb-4">
    <div class="card-header bg-info text-white">Article</div>
    <div class="card-body">
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="flexCheckChecked"
          checked=""
          [(ngModel)]="block.isAmazonProduct"
        />
        <label class="form-check-label" for="flexCheckChecked">
          Amazon Product
        </label>
      </div>

      <div class="d-flex flex-row justify-content-between">
        <div class="form-group col-11">
          <label for="topicInput">Topic Title:</label>
          <input
            type="text"
            class="form-control"
            id="topicTitle"
            [(ngModel)]="block.topicTitle"
          />
        </div>
      </div>

      <div
        class="mx-4 my-4"
        *ngFor="let row of block.rows; let rowIndex = index"
      >
        <div class="d-flex flex-row justify-content-between">
          <div>
            <div class="d-flex flex-row justify-content-between">
              <div class="form-group me-1">
                <label for="topicInput">Enter the ASIN here:</label>
                <input
                  type="text"
                  class="form-control"
                  id="topicASIN"
                  [disabled]="!block.isAmazonProduct"
                  [(ngModel)]="row.asin"
                />
              </div>
              <div class="form-group">
                <label for="topicInput">Enter the title of product here:</label>
                <input
                  type="text"
                  class="form-control"
                  id="titleProduct"
                  [(ngModel)]="row.title"
                />
              </div>
            </div>
            <div class="form-group">
              <label for="topicInput">Enter the infos of product here:</label>
              <textarea
                type="text"
                class="form-control"
                id="topicInfos"
                [(ngModel)]="row.details"
              ></textarea>
            </div>
          </div>
          <div class="col-1 d-flex flex-row align-items-center mt-3">
            <button class="btn btn-primary btn-sm me-2" (click)="addRow(block)">
              <i class="fas fa-plus"></i>
            </button>
            <button
              class="btn btn-danger btn-sm"
              (click)="removeRow(block, rowIndex)"
            >
              <i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Pulsante per aggiungere una nuova riga se tutte le righe sono state eliminate -->
      <div class="text-center" *ngIf="block.rows.length === 0">
        <button class="btn btn-primary btn-sm my-4" (click)="addRow(block)">
          Add new row
        </button>
      </div>
    </div>
  </div>

  <mat-stepper
    linear
    style="background-color: #d9e3f1"
    [orientation]="(stepperOrientation | async)!"
  >
    <mat-step label="Title">
      <ng-template matStepLabel>Title</ng-template>
      <div class="card my-2" (click)="currentStep(1)">
        <div class="card-header bg-primary text-white">
          Title
          <button
            type="button"
            class="btn btn-primary btn-sm shadow btn-sm mx-3"
            data-mdb-toggle="modal"
            data-mdb-target="#modaleSettings"
            (click)="loadDefaultData()"
          >
            <i class="fas fa-sliders"></i>
          </button>
        </div>
        <div class="card-body">
          <button
            class="btn btn-primary mb-3 btn-sm"
            (click)="getTitle()"
            [disabled]="isGettingTitle"
          >
            <span
              class="spinner-grow spinner-grow-sm"
              *ngIf="isGettingTitle"
              role="status"
              aria-hidden="true"
            ></span>
            Generate Title
          </button>
          <button
            class="btn btn-primary mb-3 mx-2 btn-sm"
            (click)="stopRequest()"
            [disabled]="!isGettingTitle"
          >
            <i class="fas fa-stop"></i>
          </button>
          <textarea
            class="form-control"
            rows="4"
            [(ngModel)]="titleResponse"
          ></textarea>
        </div>
      </div>
    </mat-step>

    <mat-step label="Introduction">
      <ng-template matStepLabel>Introduction</ng-template>
      <div class="card my-2" (click)="currentStep(2)">
        <div class="card-header bg-info text-white">
          Introduction
          <button
            type="button"
            class="btn btn-primary btn-sm shadow btn-sm mx-3"
            data-mdb-toggle="modal"
            data-mdb-target="#modaleSettings"
          >
            <i class="fas fa-sliders"></i>
          </button>
        </div>
        <div class="card-body">
          <button
            class="btn btn-primary mb-3 btn-sm"
            (click)="getAndOptimizeIntroduction()"
            [disabled]="isGettingIntroduction"
          >
            <span
              class="spinner-grow spinner-grow-sm"
              *ngIf="isGettingIntroduction"
              role="status"
              aria-hidden="true"
            ></span>
            Generate Introduction
          </button>
          <button
            class="btn btn-primary mb-3 mx-2 btn-sm"
            (click)="stopRequest()"
            [disabled]="!isGettingIntroduction"
          >
            <i class="fas fa-stop"></i>
          </button>

          <textarea
            class="form-control"
            rows="4"
            [(ngModel)]="introductionResponse"
          ></textarea>
        </div>
      </div>
    </mat-step>

    <mat-step label="Sections">
      <ng-template matStepLabel>Sections</ng-template>
      <div class="card my-2" (click)="currentStep(3)">
        <div class="card-header bg-success text-white">
          Sections
          <button
            type="button"
            class="btn btn-primary btn-sm shadow btn-sm mx-3"
            data-mdb-toggle="modal"
            data-mdb-target="#modaleSettings"
          >
            <i class="fas fa-sliders"></i>
          </button>
        </div>
        <div class="card-body">
          <button
            class="btn btn-primary mb-3 btn-sm"
            (click)="getSections()"
            [disabled]="isGettingSections"
          >
            <span
              class="spinner-grow spinner-grow-sm"
              *ngIf="isGettingSections"
              role="status"
              aria-hidden="true"
            ></span>
            Generate Sections
          </button>
          <button
            class="btn btn-primary mb-3 mx-2 btn-sm"
            (click)="stopRequest()"
            [disabled]="!isGettingSections"
          >
            <i class="fas fa-stop"></i>
          </button>
          <textarea
            class="form-control"
            rows="4"
            [(ngModel)]="sectionsResponse"
          ></textarea>
        </div>
      </div>
    </mat-step>

    <mat-step label="Content">
      <ng-template matStepLabel>Content</ng-template>
      <div class="card my-2" (click)="currentStep(4)">
        <div class="card-header bg-warning text-white">
          Content
          <button
            type="button"
            class="btn btn-primary btn-sm shadow btn-sm mx-3"
            data-mdb-toggle="modal"
            data-mdb-target="#modaleSettings"
          >
            <i class="fas fa-sliders"></i>
          </button>
        </div>
        <div class="card-body">
          <button
            class="btn btn-primary mb-3 btn-sm"
            (click)="getContent()"
            [disabled]="isGettingContent"
          >
            <span
              class="spinner-grow spinner-grow-sm"
              *ngIf="isGettingContent"
              role="status"
              aria-hidden="true"
            ></span>
            Generate Content
          </button>
          <button
            class="btn btn-primary mb-3 mx-2 btn-sm"
            (click)="stopRequest()"
            [disabled]="!isGettingContent"
          >
            <i class="fas fa-stop"></i>
          </button>
          <textarea
            class="form-control"
            rows="4"
            [(ngModel)]="contentResponse"
          ></textarea>
        </div>
      </div>
    </mat-step>

    <mat-step label="Publsish">
      <ng-template matStepLabel>Publish</ng-template>
      <div class="card my-2" (click)="currentStep(5)">
        <div class="card-header bg-info text-white">
          Generate Complete Article
          <button
            type="button"
            class="btn btn-primary btn-sm shadow btn-sm mx-3"
            data-mdb-toggle="modal"
            data-mdb-target="#modaleSettings"
          >
            <i class="fas fa-sliders"></i>
          </button>
        </div>
        <div class="card-body">
          <div>
            <div class="d-flex justify-content-center">
              <circle-progress
                [percent]="wordsCount"
                [maxPercent]="1000"
                [showUnits]="false"
                [subtitle]="'Words'"
                [radius]="60"
                class="custom-circle-progress"
                [outerStrokeColor]="'#0041c2'"
                [innerStrokeColor]="'#95b7e4'"
              >
              </circle-progress>
              <circle-progress
                [percent]="totalSeoScore"
                [subtitle]="'SEO'"
                [radius]="60"
                class="custom-circle-progress"
              >
              </circle-progress>
            </div>
            <button
              class="btn btn-primary mb-3 btn-sm"
              (click)="getCompleteArticle(); countWords()"
              [disabled]="isGettingCompleteArticle"
            >
              <span
                class="spinner-grow spinner-grow-sm"
                *ngIf="isGettingCompleteArticle"
                role="status"
                aria-hidden="true"
              ></span>
              Generate Complete Article with Images
            </button>
            <button
              class="btn btn-primary mx-2 mb-3 btn-sm"
              (click)="publishArticleOnWP()"
              [disabled]="isGettingCompleteArticle"
            >
              <span
                class="spinner-grow spinner-grow-sm"
                *ngIf="isGettingCompleteArticle"
                role="status"
                aria-hidden="true"
              ></span>
              Publish on WP
            </button>
          </div>
          <div class="form-group">
            <app-editor
              [data]="completeArticleResponse"
              [(ngModel)]="completeArticleResponse"
            ></app-editor>
          </div>
        </div>
      </div>
    </mat-step>
  </mat-stepper>
</div>

<!-- Modale Settings STEPPER -->
<div class="modal fade" id="modaleSettings" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Settings</h5>
        <button
          type="button"
          class="btn-close"
          data-mdb-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <!-- Prompt Settings -->
        <div class="mb-2" *ngIf="currentStepValue != 5">
          <h5 class="form-label">Prompt Settings</h5>
          <!-- Language -->
          <div class="mb-3">
            <label class="form-label">Language</label>
            <select
              class="form-control"
              [ngModel]="getSelectedLanguage()"
              (ngModelChange)="selectedLanguageChange($event)"
            >
              <option
                *ngFor="let language of languages"
                value="{{ language.code }}"
              >
                {{ language.language }}
              </option>
            </select>
          </div>
          <!-- Style -->
          <div class="mb-3">
            <label class="form-label">Style</label>
            <select
              class="form-control"
              [ngModel]="getSelectedStyle()"
              (ngModelChange)="selectedStyleChange($event)"
            >
              <option *ngFor="let style of styles" value="{{ style.code }}">
                {{ style.type }}
              </option>
            </select>
          </div>
          <!-- Tone -->
          <div class="mb-3">
            <label class="form-label">Tone</label>
            <select
              class="form-control"
              [ngModel]="getSelectedTone()"
              (ngModelChange)="selectedToneChange($event)"
            >
              <option *ngFor="let tone of tones" value="{{ tone.code }}">
                {{ tone.tone }}
              </option>
            </select>
          </div>
        </div>

        <!-- Title Settings -->
        <div class="mb-2" *ngIf="currentStepValue == 1">
          <h5 class="form-label">Title</h5>
          <!-- Model -->
          <div class="mb-3">
            <label class="form-label">Model</label>
            <select
              class="form-control"
              [(ngModel)]="block.settings.modelTitle"
            >
              <option *ngFor="let model of models" value="{{ model.model }}">
                {{ model.model }}
              </option>
            </select>
          </div>
          <!-- Max Tokens -->
          <div class="mb-3">
            <label class="form-label">Max Tokens</label>
            <input
              type="number"
              class="form-control"
              [(ngModel)]="block.settings.maxTokensTitle"
            />
          </div>
          <!-- Prompt text -->
          <div class="mb-3">
            <label class="form-label">Prompt text</label>
            <textarea
              class="form-control"
              [(ngModel)]="block.settings.promptTextTitle"
            ></textarea>
          </div>
        </div>

        <!-- Introduction Settings -->
        <div class="mb-2" *ngIf="currentStepValue == 2">
          <h5 class="form-label">Introduction</h5>
          <!-- Model -->
          <div class="mb-3">
            <label class="form-label">Model</label>
            <select
              class="form-control"
              [(ngModel)]="block.settings.modelIntroduction"
            >
              <option *ngFor="let model of models" value="{{ model.model }}">
                {{ model.model }}
              </option>
            </select>
          </div>
          <!-- Max Tokens -->
          <div class="mb-3">
            <label class="form-label">Max Tokens</label>
            <input
              type="number"
              class="form-control"
              [(ngModel)]="block.settings.maxTokensIntroduction"
            />
          </div>
          <!-- Prompt text -->
          <div class="mb-3">
            <label class="form-label">Prompt text</label>
            <textarea
              class="form-control"
              [(ngModel)]="block.settings.promptTextIntroduction"
            ></textarea>
          </div>
        </div>

        <!-- Sections Settings -->
        <div
          class="mb-2"
          *ngIf="
            currentStepValue == 3 && block.isAmazonProduct;
            else noAmazonProduct
          "
        >
          <h5 class="form-label">Sections</h5>
          <!-- Model -->
          <div class="mb-3">
            <label class="form-label">Model</label>
            <select
              class="form-control"
              [(ngModel)]="block.settings.modelSections"
            >
              <option *ngFor="let model of models" value="{{ model.model }}">
                {{ model.model }}
              </option>
            </select>
          </div>
          <!-- Max Tokens -->
          <div class="mb-3">
            <label class="form-label">Max Tokens</label>
            <input
              type="number"
              class="form-control"
              [(ngModel)]="block.settings.maxTokensSections"
            />
          </div>
          <!-- Prompt text -->
          <div class="mb-3">
            <label class="form-label">Prompt text (Amazon Product)</label>
            <textarea
              class="form-control"
              [(ngModel)]="block.settings.promptTextSections"
            ></textarea>
          </div>
        </div>

        <ng-template #noAmazonProduct>
          <div class="mb-2">
            <h5 class="form-label">Sections (No Amazon)</h5>
            <!-- Model -->
            <div class="mb-3">
              <label class="form-label">Model</label>
              <select
                class="form-control"
                [(ngModel)]="block.settings.modelSectionsNoAMZ"
              >
                <option *ngFor="let model of models" value="{{ model.model }}">
                  {{ model.model }}
                </option>
              </select>
            </div>
            <!-- Max Tokens -->
            <div class="mb-3">
              <label class="form-label">Max Tokens</label>
              <input
                type="number"
                class="form-control"
                [(ngModel)]="block.settings.maxTokensSectionsNoAMZ"
              />
            </div>
            <!-- Prompt text -->>
            <div class="mb-3">
              <label class="form-label">Prompt text (NO Amazon Product)</label>
              <textarea
                class="form-control"
                [(ngModel)]="block.settings.promptTextSectionsNoAMZ"
              ></textarea>
            </div>
          </div>
        </ng-template>

        <!-- Content Settings -->
        <div class="mb-2" *ngIf="currentStepValue == 4">
          <h5 class="form-label">Content</h5>
          <!-- Model -->
          <div class="mb-3">
            <label class="form-label">Model</label>
            <select
              class="form-control"
              [(ngModel)]="block.settings.modelContent"
            >
              <option *ngFor="let model of models" value="{{ model.model }}">
                {{ model.model }}
              </option>
            </select>
          </div>
          <!-- Max Tokens -->
          <div class="mb-3">
            <label class="form-label">Max Tokens</label>
            <input
              type="number"
              class="form-control"
              [(ngModel)]="block.settings.maxTokensContent"
            />
          </div>
          <!-- Prompt text -->
          <div class="mb-3">
            <label class="form-label">Prompt text</label>
            <textarea
              class="form-control"
              [(ngModel)]="block.settings.promptTextContent"
            ></textarea>
          </div>
        </div>

        <!-- Custom Shortcode -->
        <div class="mb-2" *ngIf="currentStepValue == 5">
          <h5 class="form-label">
            Insert custom shortcode
            <i
            class="fas fa-circle-info mx-2"
            (click)="showInfo = !showInfo"
          ></i>
          <div>
            <small class="text-secondary font-weight-normal" *ngIf="showInfo"
              >Accepted placeholders: [KEYWORD]</small
            >
          </div>
            <button
              *ngIf="shortcodes.length == 0"
              class="btn btn-primary btn-sm me-2"
              (click)="addShortcode()"
            >
              <i class="fas fa-plus"></i>
            </button>
          </h5>

          <div
            *ngFor="let shortcode of shortcodes; let i = index"
            class="d-flex justify-content-between mb-2"
          >
            <div class="col-10 d-flex flex-row">
              <input
                type="text"
                class="form-control"
                placeholder="Enter shortcode"
                [(ngModel)]="shortcode.code"
              />
              <select class="form-control" [(ngModel)]="shortcode.position">
                <optgroup label="Introduction">
                  <option value="beforeIntroduction">
                    Before introduction
                  </option>
                  <option value="afterIntroduction">After introduction</option>
                </optgroup>
                <optgroup label="Article">
                  <option value="randomInTheContent">
                    Random in the content
                  </option>
                  <option value="endOfArticle">After article</option>
                </optgroup>
                <optgroup label="Paragraphs">
                  <option value="beforeFirstP">Before 1° Paragraph</option>
                  <option value="afterFirstP">After 1° Paragraph</option>
                  <option value="afterSecondP">After 2° Paragraph</option>
                  <option value="afterThirdP">After 3° Paragraph</option>
                  <option value="afterFourthP">After 4° Paragraph</option>
                  <option value="afterFifthP">After 5° Paragraph</option>
                  <option value="afterSixthP">After 6° Paragraph</option>
                  <option value="afterSeventhP">After 7° Paragraph</option>
                  <option value="afterEighthP">After 8° Paragraph</option>
                  <option value="afterNinthP">After 9° Paragraph</option>
                  <option value="afterTenthP">After 10° Paragraph</option>
                  <option value="afterEleventhP">After 11° Paragraph</option>
                  <option value="afterTwelfthP">After 12° Paragraph</option>
                  <option value="afterThirteenthP">After 13° Paragraph</option>
                  <option value="afterFourteenthP">After 14° Paragraph</option>
                  <option value="afterFifteenthP">After 15° Paragraph</option>
                  <option value="afterSixteenthP">After 16° Paragraph</option>
                  <option value="afterSeventeenthP">After 17° Paragraph</option>
                  <option value="afterEighteenthP">After 18° Paragraph</option>
                  <option value="afterNineteenthP">After 19° Paragraph</option>
                  <option value="afterTwentiethP">After 20° Paragraph</option>
                </optgroup>
                <optgroup label="H2 Tags">
                  <option value="beforeFirstH2">Before 1° H2</option>
                  <option value="afterFirstH2">After 1° H2</option>
                  <option value="beforeSecondH2">Before 2° H2</option>
                  <option value="afterSecondH2">After 2° H2</option>
                  <option value="beforeThirdH2">Before 3° H2</option>
                  <option value="afterThirdH2">After 3° H2</option>
                  <option value="beforeFourthH2">Before 4° H2</option>
                  <option value="afterFourthH2">After 4° H2</option>
                  <option value="beforeFifthH2">Before 5° H2</option>
                  <option value="afterFifthH2">After 5° H2</option>
                  <option value="beforeSixthH2">Before 6° H2</option>
                  <option value="afterSixthH2">After 6° H2</option>
                  <option value="beforeSeventhH2">Before 7° H2</option>
                  <option value="afterSeventhH2">After 7° H2</option>
                  <option value="beforeEighthH2">Before 8° H2</option>
                  <option value="afterEighthH2">After 8° H2</option>
                  <option value="beforeNinthH2">Before 9° H2</option>
                  <option value="afterNinthH2">After 9° H2</option>
                  <option value="beforeTenthH2">Before 10° H2</option>
                  <option value="afterTenthH2">After 10° H2</option>
                </optgroup>
              </select>
            </div>
            <div class="col-2 mx-1 my-auto">
              <button
                class="btn btn-primary btn-sm me-2"
                (click)="addShortcode()"
              >
                <i class="fas fa-plus"></i>
              </button>
              <button
                class="btn btn-danger btn-sm"
                (click)="removeShortcode(shortcode.id)"
              >
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary btn-sm"
          data-mdb-dismiss="modal"
          (click)="saveAsDefaultSettings(); saveShortcode()"
        >
          Save
        </button>
      </div>
    </div>
  </div>
</div>
