
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$autoblogging-primary: mat.define-palette(mat.$indigo-palette);
$autoblogging-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$autoblogging-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$autoblogging-theme: mat.define-light-theme((
  color: (
    primary: $autoblogging-primary,
    accent: $autoblogging-accent,
    warn: $autoblogging-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($autoblogging-theme);
@import 'src/bootstrap.min.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.card-header{
  border-top-left-radius:  8px !important;
  border-top-right-radius:  8px !important
}

.mat-stepper-horizontal, .mat-stepper-vertical{
  background-color: transparent !important;
}
.shadow {
  box-shadow: 2px 2px 2px rgba(55,94,148,.2), 2px 2px 2px rgba(255,255,255,.4) !important;
}

/* Personalizzazione generale della barra di scorrimento */
::-webkit-scrollbar {
  width: 5px; /* Larghezza della barra di scorrimento */
  height: 10px;
}

/* Stile del track (la barra di scorrimento stessa) */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Colore di sfondo */
  border-radius: 10px; /* Arrotondamento degli angoli */
}

/* Stile del thumb (la parte mobile della barra di scorrimento) */
::-webkit-scrollbar-thumb {
  background: #888; /* Colore di sfondo */
  border-radius: 10px; /* Arrotondamento degli angoli */
}

/* Stile del thumb al passaggio del mouse */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Colore di sfondo al passaggio del mouse */
}

/* Per Firefox, a partire dalla versione 64 */
* {
  scrollbar-width: thin; /* spessore della barra di scorrimento */
  scrollbar-color: #888 #f1f1f1; /* colore thumb e track */
}
