.active {
  font-weight: bold;
}
.badge-notification {
  font-size: 11px; /* Riduci la dimensione del font */
  padding: 2px 4px; /* Riduci il padding */
  min-width: 20px; /* Imposta una larghezza minima */
}

.read {
  font-weight: normal;
  color: grey;
}
.notification {
  font-weight: bold;
  color: darken;
}

@media screen and (max-width: 992px) {
  .right-elements {
    order: 1;
  }
  .left-elements {
    order: 2;
  }
}
