.active {
  font-weight: bold;
}
.badge-notification {
  font-size: 11px; /* Riduci la dimensione del font */
  padding: 2px 4px; /* Riduci il padding */
  min-width: 20px; /* Imposta una larghezza minima */
}
.notification {
  font-weight: bold;
  color: darken;
}
.read {
  font-weight: normal;
  color: grey;
}
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  border: none;
  box-shadow: none;
}
@media screen and (max-width: 992px) {
  .right-elements {
    order: 1;
  }
  .left-elements {
    order: 2;
  }
}
